<div class='map-container'>
  <div id='map'>
    <pre id='coordinates' class='ui-coordinates'></pre>
  </div>
  <span class='caption'>
    Drag and drop images into the uploader below to begin mapping
  </span>
</div>

<%= form_tag '/images', method: :post, class: 'dropzone', id: 'image-dropzone' do %>
  <%= hidden_field_tag :lat %>
  <%= hidden_field_tag :lng %>
  <div class='fallback'>
    <%= file_field_tag 'images', multiple: true%>
  </div>
<% end %>

<div class='image-manager'>
  <span class='caption'>
    Manage images using the form below
  </span>
  <%= form_tag '/delete_images', method: :delete do %>
    <%= submit_tag 'Delete Selected', id: 'delete', disabled: @images.empty? %>
    <div class='saved-images'>
      <% @images.each do |image| %>
        <%= image_tag image.file.url %>
        <%= check_box_tag 'images[]', image.id, true, class: 'checkbox' %>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  main('<%= Rails.application.secrets.mapbox_token %>', '<%= root_path %>');
</script>
