<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>img2map</title>
  <meta name='description' content='img2map: Automatically map images using their GPS metadata'>
  <%= render 'layouts/favicon' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
  <!--[if lt IE 9]]>
    <%= javascript_include_tag 'html5shiv', 'data-turbolinks-track'=> true %>
  <![endif]-->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="logo"></div>
  </header>

  <section>
    <%= yield %> 
  </section>

</body>
</html>